/* Remove annoying context menu items. */
#context-bookmarklink,
#context-savelink, /* Save link as... */
#context-sendimage, /* Email image... */
#context-print-selection
{
  display: none !important;
}

/* Remove annoying menu items. */
#appMenu-fxa-status2, #appMenu-fxa-separator /* Sign in */
{
  display: none !important;
}

/* Hide close button on tabs,
   https://github.com/Timvde/UserChrome-Tweaks/blob/master/tabs/close-button-hover.css
 */
.tabbrowser-tab:not([selected=true]):not([pinned]) .tab-close-button {
  display: none !important;
}

.tabbrowser-tab:not([selected=true]):not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
}

/** Cascade theme tweaks */

/* Maximize the urlbar when focused, hide otherwise. */
:root {
  --uc-urlbar-min-width: 0vw !important;
  --uc-urlbar-max-width: 100vw !important;
}

/* Restore URL bar buttons. */
#page-action-buttons > *
{
  display: -moz-inline-block !important;
}

/* Full size tabs */

#tabbrowser-tabs .tabbrowser-tab[fadein=true]:not([pinned])
{
  max-width: 100vw !important;
}

/* More constrast in tab colors. */
@media (prefers-color-scheme: dark) { :root {
  --uc-base-colour: #131516 !important;
  --uc-highlight-colour: #0c1112 !important;
  --uc-inverted-colour: #ffffff !important;
}}
@media (prefers-color-scheme: light) { :root {
  --uc-base-colour: #ffffff !important;
  --uc-highlight-colour: #c8c9d0 !important;
  --uc-inverted-colour: #131516 !important;
}}
